
*{
    margin: 0;
}
body{
    background-image: url("../img/pattern.jpg");
}

header{
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

img{
    display: inline;
}

nav{
    display: inline-block;
    position: absolute;
    height: 100%;
    right: 10px;
}

li{
    display: inline-block;
    margin: 15px 10px;
}

section{
    background-color: white;
    margin: 80px 180px 0 180px;
}

h1{
    display: none;
}

article{
    padding: 20px 10px;
    border-bottom: 1px solid grey;
}

p{
    text-align: justify;
    padding: 15px 0;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    margin: 20px 0;
    padding: 10px 0;
}